@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

.category {
  @include mixins.flex(flex, space-around, center);
  list-style: none;
  margin-top: 5rem;
  margin-bottom: 1rem;

  &__list {
    font-size: 1.125rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: var.$secondary-color;
    }

    &--active {
      color: var.$primary-color;
    }
  }
}

.product {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  gap: 30px;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var.$gray-color;
  border-radius: 15px;

  &__link {
    text-decoration: none;
    transition: transform 0.4s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__card {
    overflow: hidden;
    @include mixins.flex(flex, center, center);
    flex-direction: column;
    height: 100%;
    background-color: var.$text-color-light;
    border-radius: 10px;

    &--md {
      width: 100%;
      box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    }

    &--sm {
      margin: 0 1rem;
    }

    &-image {
      flex-grow: 1;
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-bottom: 2rem;
      padding: 2rem;
    }

    &-title {
      margin-bottom: 0.3rem;
      padding: 0 1rem;
      font-size: 1.125rem;
      font-weight: 500;
      color: var.$text-color-dark;
    }

    &-price {
      margin-bottom: 1rem;
      padding: 0 1rem;
      font-size: 1.125rem;
      font-weight: 400;
      color: var.$text-color-dark;
    }

    &-btn {
      width: 90%;
      margin-bottom: 2rem;
      padding: 0.85em;
      font-weight: 500;
    }
  }

  &__single {
    @include mixins.flex(flex, center, center);
    margin-bottom: 2rem;

    &-container {
      overflow: hidden;
      @include mixins.flex(flex, flex-start, center);
      margin-top: 4rem;
      padding: 4rem;
      border-bottom: 2px solid var.$dark-gray-color;
    }

    &-image {
      width: 380px;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin-right: 3rem;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-price {
      font-size: 1.5rem;
      font-weight: 400;
    }

    &-rating {
      margin-bottom: 1.2rem;
      font-size: 1rem;

      &-label {
        font-weight: 500;
      }
    }

    &-desc {
      margin-bottom: 2rem;
      font-size: 1.125rem;
      text-align: justify;
    }

    &-btn {
      width: 100%;
      margin-bottom: 2rem;
      padding: 0.75em;
      font-weight: 500;
      background-color: var.$secondary-color;
    }
  }

  &__review {
    margin-bottom: 2rem;
    border-bottom: 2px solid var.$dark-gray-color;

    &-title {
      font-size: 1.75rem;
      font-weight: 500;
    }

    &--flex {
      @include mixins.flex(flex, space-between, baseline);
      margin-bottom: 3rem;
    }

    &-empty {
      align-self: center;
      &-image {
        width: 700px;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      &-text {
        font-size: 2rem;
        text-align: center;
      }
    }

    &-list {
      width: 55%;
    }

    &-card {
      padding-bottom: 1rem;
      border-bottom: 2px solid var.$gray-color;

      &--flex {
        @include mixins.flex(flex, space-between, center);
        margin: 1rem 0;
      }

      &-header {
        &-name {
          font-size: 1.25rem;
          font-weight: 500;
        }

        &-email {
          opacity: 0.7;
        }

        &-rating {
          font-size: 1.25rem;

          &-star {
            color: #ffbc04;
          }
        }
      }
    }

    &-form {
      width: 40%;
      height: 100%;
      padding: 2.3rem 2rem;
      background-color: var.$text-color-light;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
      border-radius: 15px;

      &-title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    &-input {
      width: 100%;
      height: 100%;
      padding: 0.5em 1em;
      font-size: 1rem;
      border: 1px solid var.$text-color-dark;
      border-radius: 5px;
    }

    &-submit {
      width: 100%;
      padding: 0.8em;
    }
  }

  &__related {
    margin-bottom: 5rem;

    &-title {
      @extend .product__review-title;
    }
  }
}
