// colors
$primary-color: #ee6c4d;
$secondary-color: #e07a5f;
$accent-color: #f4f1de;
$nav-color: #3d405b;
$gray-color: #eff1f3;
$dark-gray-color: #76787a;
$text-color-light: #fff;
$text-color-dark: #2c3037;

// breakpoints
$medium-screen: 769px;
$small-screen: 480px;
